@import url(mainConfig.css);

body {
    margin: 0;
    padding: 25px;
    font-family: Arial, sans-serif;
    background: var(--verdeSuave);
    color: var(--colorSuperOscuro);
}

.header {
    background: var(--colorBlanco);
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

.nav_bar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.boton_crud{
    padding: 9px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.2s;
    display: inline-block;
    border: none;
    background:var(--colorVerde);
}

.boton_crud:hover{
    background: var(--verdeHover);
}

.button_crud_container{
    margin: 10px;
}

.welcome {
    font-size: 18px;
    color: var(--colorVerdeMuyOscuro);
    font-weight: bold;
}

.btn {
    padding: 9px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.2s;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background: var(--colorVerde);
}

.btn-primary:hover {
    background: var(--verdeHover);
}

.btn-edit {
    background: var(--colorVerdePrincipal);
}

.btn-edit:hover {
    background: var(--colorVerdeMuyOscuro);
}

.btn-delete {
    background: #e74c3c;
}

.btn-delete:hover {
    background: #c0392b;
}

/* CONTENEDOR SUPERIOR */

.top-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

/* BUSCADOR */

.search-container form{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input{
    width: 320px;
    padding: 11px 14px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    outline: none;
    font-size: 14px;
    background: var(--colorBlanco);
    transition: 0.2s;
}

.search-container input:focus{
    border-color: var(--colorVerdePrincipal);
    box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.15);
}

/* TABLA */

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--colorBlanco);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}

th {
    background: var(--colorVerdePrincipal);
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: var(--verdeSuave2);
    transition: 0.2s;
}

.actions a {
    margin-right: 6px;
}